body,
html {
  width: 100%;
  margin: 0;
  color: aliceblue;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dongle", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: aliceblue;
  /* background-image: linear-gradient(165deg, #004565,rgb(122, 0, 99), #ff0000c7); */
  
}
.page {
  width: 100%;
  border-radius: 5px;
  background-color: transparent !important;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 40px;
  min-height: 100vh;
}
.page::before {
  content: "";
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(/Img/107064014_p2.png); */
  filter: blur(50px) brightness(1);
  opacity: 0.7;
  z-index: -1;
}
.head-page {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.763);
}
.head-page img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.head-page_logo {
  width: 23%;
  height: 100%;
  /* background-color: rgba(160, 160, 160, 0.414); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.head-page_select {
  width: 54%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.123); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.head-page_select a {
  transform: skewX(-0deg);
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
}
.head-page_user {
  width: 23%;
  height: 100%;
  /* background-color: rgba(160, 160, 160, 0.414); */
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  color: rgb(255, 49, 49);
  margin: 0 2px;
  margin-bottom: 2px;
}
.body-page {
  width: 85%;
}
.body-page h1 {
  color: red;
  font-size: 3rem;
  padding-bottom: 10px;
  border-bottom: 3px solid red;
  width: 120px;
}
.cart-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  color: black;
}
.titles {
  width: 100%;
  height: 60px;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  box-sizing: border-box;
}
.game {
  width: 100%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.232);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 10px 10px 10px 2px rgb(106, 106, 106);
}
.section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 12%;
  z-index: 2;
}
.buttons {
  width: 10%;
}
.name,
.title-name {
  width: 30%;
}
.price {
  font-size: 2rem;
}
.category {
  width: 25%;
  height: 50%;
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}
.game .section {
  color: white;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.458);
  z-index: 0;
}
.name {
  font-size: 2rem;
}
.blank {
  width: 10%;
}
.category p {
  padding: 10px;
  background-color: red;
  border-radius: 3px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.buttons {
  display: flex;
  gap: 15px;
  align-self: center;
  width: 15%;
}
.buttons button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  color: aliceblue;
  border: none;
  font-size: 3.5rem;
}

.payment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  position: relative;
}
.payment input[type="radio"] {
  display: none;
}

.payment .checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: transparent;
  margin-right: 10px;
}

.check-mark {
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment input[type="radio"]:checked + .check-mark {
  color: white;
  background-color: red;
  border: none;
}
/* CSS */
.game {
    transition: transform 0.3s ease, opacity 0.5s ease, width 0.5s ease;
}

.sumarize {
  position: fixed;
  width: 85%;
  height: 130px;
  background-color:rgba(255, 255, 255, 0.941);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  z-index: 5;
  box-shadow: 5px -2px 10px 2px rgba(161, 161, 161, 0.549);
  border-radius: 5px;
}
.payment {
  display: flex;
  flex-direction: column;
}
.payment p {
  margin: 0;
}
.payment-methods {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 10px;
}
.purchase,
.payment,
.total-price,
.total-amount {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.purchase h3,
.payment h3,
.total-price h3,
.total-amount h3 {
  margin: 0;
  font-weight: lighter;
}

.purchase{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-size: 3rem;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}
.payment-method{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    
}
.sumarize p {
    font-size: 2rem;
}